Emacs.font: Roboto Mono:size=15

!! turn off nonsense
Emacs.cursorBlink: false
Emacs.menuBar: false
Emacs.horizontalScrollBars: false
Emacs.verticalScrollBars: false
Emacs.toolBar: false

Emacs.background: Black
!Emacs.foreground: azure4
!Emacs.cursorColor: PaleGreen

!! standard faces https://www.gnu.org/software/emacs/manual/html_node/emacs/Standard-Faces.html
Emacs.default.attributeForeground: azure4
Emacs.italic.attributeUnderline: false
Emacs.italic.attributeFamily: Roboto Mono-Italic
Emacs.underline.attributeUnderline: false
Emacs.fixed-pitch.attributeFamily: Roboto Mono
Emacs.fixed-pitch-serif.attributeFamily: Roboto Mono
Emacs.variable-pitch.attributeFamily: Roboto Mono
Emacs.shadow.attributeForeground: DarkSlateGray4

!! highlights
Emacs.highlight.attributeBackground: grey10
Emacs.isearch.attributeForeground: PaleGreen
Emacs.isearch.attributeBackground: Black
Emacs.isearch-fail.attributeForeground: IndianRed
Emacs.isearch-fail.attributeBackground: Black
Emacs.query-replace.attributeForeground: PaleGreen
Emacs.lazy-highlight.attributeBackground: grey10
Emacs.lazy-highlight.attributeForeground: DarkGoldenrod
Emacs.region.attributeBackground: MidnightBlue
Emacs.secondary-selection.attributeBackground: grey15
Emacs.trailing-whitespace.attributeBackground: IndianRed4

!! mode-line
Emacs.mode-line.attributeForeground: aquamarine3
Emacs.mode-line.attributeBackground: #222222
Emacs.mode-line.attributeBox: nil
Emacs.mode-line-inactive.attributeForeground: #857b6f
Emacs.mode-line-inactive.attributeBackground: #111111
Emacs.mode-line-inactive.attributeBox: nil
Emacs.mode-line-inactive.attributeWeight: normal
Emacs.mode-line-buffer-id.attributeForeground: PaleGreen
Emacs.mode-line-highlight.attributeBox: nil
Emacs.mode-line-highlight.attributeForeground: Cyan

!! other parts of frame
Emacs.header-line.attributeForeground: MediumAquamarine
Emacs.header-line.attributeBackground: grey10
Emacs.minibuffer-prompt.attributeForeground: PaleGreen
Emacs.fringe.attributeBackground: Black
Emacs.cursor.attributeBackground: PaleGreen

Emacs.link.attributeForeground: CornflowerBlue
Emacs.link.attributeUnderline: false

!! inherit from these
Emacs.success.attributeForeground: PaleGreen
Emacs.warning.attributeForeground: PaleGoldenrod
Emacs.error.attributeForeground: IndianRed
Emacs.match.attributeForeground: RosyBrown

!! arch xterm defaults to xterm, but has 256color support
XTerm.termName: xterm-256color

!! set utf8 from system
XTerm.vt100.locale: true

!! send ^? for backspace instead of ^H for emacs
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

!! default bitmap font for vt100 and menus
XTerm*font: -xos4-terminus-medium-r-normal--14-*-*-*-*-*-iso10646-1

!! scaled bitmap sizes
XTerm.vt100.font1: -xos4-terminus-medium-r-normal--10-*-*-*-*-*-iso10646-1  !unreadable
XTerm.vt100.font2: -xos4-terminus-medium-r-normal--12-*-*-*-*-*-iso10646-1  !tiny
XTerm.vt100.font3: -xos4-terminus-medium-r-normal--14-*-*-*-*-*-iso10646-1  !small
XTerm.vt100.font4: -xos4-terminus-medium-r-normal--16-*-*-*-*-*-iso10646-1  !medium
XTerm.vt100.font5: -xos4-terminus-medium-r-normal--18-*-*-*-*-*-iso10646-1  !large
XTerm.vt100.font6: -xos4-terminus-medium-r-normal--20-*-*-*-*-*-iso10646-1  !huge
XTerm.vt100.font7: -xos4-terminus-medium-r-normal--22-*-*-*-*-*-iso10646-1  !enormous

!! do not use bold or overstrike, can toggle in font menu
XTerm*allowBoldFonts: false

!! default to bitmap font
XTerm.vt100.renderFont: false

!! truetype font to use if renderFont true
XTerm*faceName: Roboto Mono:size=12:antialias=true

!! scaled sizes for truetype font
XTerm*faceSize1: 8              !unreadable
XTerm*faceSize2: 10             !tiny
XTerm*faceSize3: 12             !small
XTerm*faceSize4: 14             !medium
XTerm*faceSize5: 16             !large
XTerm*faceSize6: 18             !huge
XTerm*faceSize7: 20             !enormous

!! default colors
XTerm*foreground: White
XTerm*cursorColor: 	PaleGreen

!! vt100 terminal colors
XTerm.vt100.foreground:	azure4
XTerm.vt100.background:	Black
XTerm.vt100.highlightColor: MidnightBlue

!! menu colors
XTerm*mainMenu*background: DodgerBlue4
XTerm*vtMenu*background:   DodgerBlue4
XTerm*fontMenu*background: DodgerBlue4

!! use alt as in emacs instead of 8bit chars
XTerm.vt100.metaSendsEscape: true

!! default scrollback is 1024
XTerm.vt100.saveLines: 4096

!! turn off scrollbar
XTerm*ScrollBar: off
! XTerm*vt100*rightScrollBar: True
! XTerm*Scrollbar*foreground: DodgerBlue4
! XTerm*Scrollbar*background: Black

!! ansi colors
XTerm*colorMode:    True
XTerm*dynamicColor: On

!! ansi foreground colors
XTerm*VT100*color0:  Black
XTerm*VT100*color1:  IndianRed
XTerm*VT100*color2:  PaleGreen
XTerm*VT100*color3:  DarkGoldenrod
XTerm*VT100*color4:  CornflowerBlue
XTerm*VT100*color5:  #B5A0FF    !magenta
XTerm*VT100*color6:  SkyBlue
XTerm*VT100*color7:  azure4     !grey
XTerm*VT100*color8:  Black

!! bright colors
XTerm*VT100*color9:  IndianRed1
XTerm*VT100*color10: PaleGreen1
XTerm*VT100*color11: DarkGoldenrod1
XTerm*VT100*color12: MediumPurple1
XTerm*VT100*color13: Gray
XTerm*VT100*color14: SkyBlue1
XTerm*VT100*color15: DarkGrey

  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d)
